.doctor-detail-container{
    width: 100%;
    height: 500px;
   
    max-width: 1600px;
    margin: 0 auto;
    .intro-doctor{
        display:flex;
      

        .content-left{
            width: 20%;
            width: 160px;
            height: 160px;
            margin: 10px 10px;
            background-size: cover;
            background-repeat: no-repeat;
            // background-position: center;
            border-radius: 50%;
            margin: 10px 20px;
        }
        .content-right{
            width: 80%;
          
            display:flex;
            flex-direction:column;
            padding-left:10px;

            .content-up{
                font-size: 20px;
                font-weight: 600;
                padding-top: 25px;
            }
            .content-down{
                padding-top: 10px;
                .like-share-plugin{
                    margin: 10px 0 20px 0;
                }
            }
        }
    }
    .schedule-doctor{
       
        display:flex;
        height: 200px;

        .left-content {
            width: 50%;
         
        }
        .right-content {
            width: 50%;
          
        }
    }
    .detail-info-doctor{
        padding: 10px 10px;
        background-color: #f9f9f9;

        h1,
        h2,
        h3{
            font-size: 20px;
        }
        img{
            width: 100%;
        }
    }
    .comment-doctor{
        padding: 10px 100px;
    }
}