.profile-doctor-container {
    .intro-doctor {
        display: flex;
        flex-direction: column;
        


        .content-left {
            width: 80px;
            height: 80px;
            // background: center / cover no-repeat;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
        }

        .content-right {
            width: calc(100% - 120px);
            display: flex;
            flex-direction: column;
            // padding-left: 10px;

            .content-up {

                font-weight: 600;
                margin-bottom: 20px;
                margin-top: 10px;

            }

            .content-down {
                text-align: justify;
                // letter-spacing: 1px;

            }
        }
    }
    .view-detail-doctor{
        a.view-detail-link{
            text-decoration: none;
           color: #45c3d2;;
        }
    }

    .schedule-doctor {

        display: flex;
        height: 200px;

        .left-content {
            width: 50%;

        }

        .right-content {
            width: 50%;

        }
    }

    .detail-info-doctor {
        padding: 10px 10px;
        background-color: #f9f9f9;

        h3 {
            font-size: 20px;
        }

        img {
            width: 100%;
        }
    }
}