.manage-schedule-container{
 .m-s-title{
    text-transform:uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight:600;
    font-size: 17px;
    text-align: center;
 }   
 .pick-hour-container{
  margin: 20px 0;
  display: flex;
  gap:20px;
  flex-wrap: wrap;
   
   .btn-schedule{
    padding: 0px 20px;
    border: 1px solid gray;

    &.active{
      background-color:orange;
    }
   }
 }
}